@using System.Web
@{
    Layout = null;
}
@model List<Helpers.Models.ViewModels.BacktestResult>
@using System.Linq

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FON - Tarihsel Performans Verileri</title>
    <link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/jquery/jquery-3.3.1.slim.min.js"></script>
    <script src="~/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .bs-example {
            margin: 20px;
        }

        .accordion .fa {
            margin-right: 0.5rem;
        }


        .mb-1 {
            padding-left: 20px !important;
        }

        .innerHeader {
            font-weight: 300 !important;
        }

        .addalert {
            color: red !important;
        }

        button{
            color:black !important;
            font-weight:600 !important;
        }

        .col-2{
            padding-left:0 !important;
            padding-right:0 !important;
        }
    </style>
</head>
<body>

    @*<div style="width:70% !important; margin:auto; border: 1px solid">

        </div>*@


    <div class="container">

        <div class="card-header" style="background-color:white !important">
            <div id="pageHeader">
                <div class="jumbotron p-2 text-center border border-primary" style="background-color: #13457c; height: 67px;">
                    @*<img class="img" src=".\bulten\denizyatirimlogo.png" alt="Deniz Yatırım" style="float: left; height: 50px;" />*@
                    <img class="img" src="~/Assets/images/denizyatirimlogo.png" alt="Deniz Yatırım" style="float: left; height: 50px;" />
                    <p class="h4" style="float: right; margin-top: 10px;"><span class="badge badge-primary">@DateTime.Now.AddDays(-1).ToString().Split(' ')[0]</span></p><br />
                </div>

                <div style="text-align:center;">
                    <h2>R O B O &nbsp; A D V I S O R</h2>
                    <h5 class="text-muted">Yapay zeka @DateTime.Now.AddDays(-1).ToString().Split(' ')[0] tarihli FON sepetleri</h5>
                    <hr>
                    <p>
                        Bu doküman içerisinde yer alan sepetler, yapay zeka algoritmaları ve finansal istatistik modelleri kullanan bir elektronik beyin tarafından oluşturulmuştur.
                        Sepetlerin dağılımı sadece geçmiş piyasa verileri baz alınarak yapılmakta olup, araştırma biriminde görev yapan hisse senedi analistlerinin ileriye dönük temel ya da teknik herhangi bir tahmin ya da öngörülerini içermemektedir.
                    </p>
                    <hr>
                    <p style="text-align:left !important">Bu rapor DENİZ YATIRIM ARAŞTIRMA birimi tarafından onaylanmıştır.</p>
                    <hr>
                </div>
            </div>

        </div>



        <div class="bs-example">
            <div class="accordion" id="accordionExample">

                @for (int i = 0; i < Model.Count; i++)
                {
                    Dictionary<string, DateTime> eklenmeTarihleri = new Dictionary<string, DateTime>();
                    <div class="card">
                        <div class="card-header" id="heading@i">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-link" data-toggle="collapse"
                                        data-target="#collapse-@i">
                                    <i class="fa fa-plus"></i>
                                    @Model[i].Name Oluşma Tarihi: @Model[i].Start.ToString().Split(' ')[0]
                                    Bakiye: @Math.Round(Convert.ToDouble(Model[i].Balance[Model[i].PortfolioHistory.Count - 1]), 2)
                                    Kar: % @Math.Round(((Convert.ToDouble(Model[i].Balance[Model[i].PortfolioHistory.Count - 1]))-10000)/100,2)
                                </button>
                            </h2>
                        </div>
                        <div id="collapse-@i" class="collapse" aria-labelledby="heading-@i" data-parent="#accordionExample">
                            <div class="accordion" id="accex">
                                @* @for (int j = 0; j < Model[i].PortfolioHistory.Count; j++)*@
                                @for (int j = Model[i].PortfolioHistory.Count - 1; j > 0; j--)
                                {
                                    var date = Model[i].Dates[j].ToString().Split(' ')[0];
                                    var profit = Model[i].Profits[j];
                                    var balance = Model[i].Balance[j];

                                    <div class="card">
                                        <div class="card-header-pills" id="port-@i-@j">
                                            <h2 class="mb-1">
                                                <button type="button" class="btn btn-link" data-toggle="collapse"
                                                        data-target="#collap-@i-@j">
                                                    - @Model[i].Name @date.ToString() Bakiye: @Math.Round(Convert.ToDouble(Model[i].Balance[j]), 2) 
                                                    Kar: %@Math.Round((Convert.ToDouble(Model[i].Profits[j]))/100, 2)
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collap-@i-@j" class="collapse" aria-labelledby="name-@i" data-parent="#accex">
                                            <div class="row text-right">

                                                <table class="table table-striped" id="t_table">
                                                    @for (int k = 0; k < Model[i].PortfolioHistory[j].Count; k++)
                                                    {
                                                        <tr class="row">
                                                            <td class="col-2 text-left">
                                                                <span style="padding-left:40px !important"><span class="innerHeader">Sembol: </span>@Model[i].PortfolioHistory[j][k].SymbolName</span>
                                                            </td>
                                                            <td class="col-2 text-left">
                                                                <span style="padding-left:40px !important"><span class="innerHeader">Yüzde: </span>%@Math.Round(Convert.ToDouble(Model[i].PortfolioHistory[j][k].Perc * 100))</span>
                                                            </td>
                                                            <td class="col-2 text-left">
                                                                @if (j == Model[i].PortfolioHistory.Count - 1)
                                                                {
                                                                    eklenmeTarihleri.Add(Model[i].PortfolioHistory[j][k].SymbolName.ToString(), (DateTime)Model[i].Dates[j]);
                                                                    <span class="innerHeader">Giriş Tarihi: </span>@eklenmeTarihleri[Model[i].PortfolioHistory[j][k].SymbolName].ToString().Split(' ')[0]
                                                                }
                                                                else
                                                           if (j < Model[i].PortfolioHistory.Count - 1 && Model[i].PortfolioHistory[j + 1].Count(x => x.SymbolName == Model[i].PortfolioHistory[j][k].SymbolName) == 0)
                                                                {
                                                                    <span class="addalert">Yeni eklendi !!</span>
                                                                    eklenmeTarihleri[Model[i].PortfolioHistory[j][k].SymbolName] = Model[i].Dates[j];
                                                                }
                                                                else if (j < Model[i].PortfolioHistory.Count - 1 && eklenmeTarihleri.ContainsKey(Model[i].PortfolioHistory[j][k].SymbolName))
                                                                {
                                                                    <span class="innerHeader">Giriş: </span>@eklenmeTarihleri[Model[i].PortfolioHistory[j][k].SymbolName].ToString().Split(' ')[0]
                                                                }
                                                            </td>
                                                            <td class="col-2 text-left">
                                                                <span class="innerHeader">LOT: </span>@Math.Round(Model[i].PortfolioHistory[j][k].Lot, 2)
                                                            </td>
                                                            <td class="col-2 text-left">
                                                                <span class="innerHeader">Fiyat: </span>@Model[i].PortfolioHistory[j][k].Cost
                                                            </td>
                                                            <td class="col-2 text-left"> 
                                                                <span class="innerHeader">TL Büyüklüğü: </span>@Math.Round(Model[i].PortfolioHistory[j][k].TotalAmount, 2)
                                                            </td>
                                                        </tr>
                                                    }

                                                </table>
                                            </div>
                                            <div class="row">

                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
        <br />
        <br />
        <hr />
        <div class="footer" style="max-width:70%; margin:auto; margin-top:70px !important">

            <h3><strong>Yasal Uyarı:</strong></h3>
            <br />
            <hr />
            <p>
                Burada yer alan yatirim bilgi, yorum ve tavsiyeleri yatirim danismanligi kapsaminda degildir.
                Yatirim danismanligi hizmeti, yetkili kuruluslar tarafindan kisilerin risk ve getiri tercihleri dikkate alinarak kisiye özel sunulmaktadir.
                Burada yer alan yorum ve tavsiyeler ise genel niteliktedir. Bu tavsiyeler mali durumunuz ile risk ve getiri tercihlerinize uygun olmayabilir.
                Bu nedenle, sadece burada yer alan bilgilere dayanilarak yatirim karari verilmesi beklentilerinize uygun sonuçlar dogurmayabilir.
                Bu içerikteki yorumlar DENIZ YATIRIM MENKUL KIYMETLER A.S.'nin görüslerini yansitmaktadir. Bu dokümanda sunulan materyal saglam kaynaklardan derlenmistir.
                Ancak Sirketimiz buradaki yorumlarin içerdigi sonucu üçüncü sahislara karsi dogabilecek sonuçlara karsi hiç bir sorumluluk kabul etmez.
                Buradaki içerigin hiç bir bölümü DENIZ YATIRIM MENKUL KIYMETLER A.S.'NIN yazili izni olmadan çogaltilamaz, hiç bir sekil ve ortamda yayinlanamaz, alinti yapilamaz ve kullanilamaz..
            </p>
        </div>

    </div>

    


</body>
</html>

<script>

    $(document).ready(function () {
        $(".collapse.show").each(function () {
            $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
        });

        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function () {
            $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
        }).on('hide.bs.collapse', function () {
            $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
        });
    })


</script>

